body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.left-box {
    width: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 350px;
}

.right-box {
    width: 50%;
    padding: 40px 60px;
}

h1 {
    font-size: 38px;
    margin-bottom: 25px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #96b7b7;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

footer {
    margin-top: 50px;
    font-size: 12px;
    color: gray;
}

/* Modal Windows */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}

.confirm-btn, .cancel-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn {
    background: #96b7b7;
}

.cancel-btn {
    background: #ccc;
}
